Repository threshold-network/token-dashboard, pull requests merged in 2022-09, with the labels that each got.

#165 Data access layer for authorization functions
  .github/actions/build-and-deploy-to-bucket/action.yml
  .github/workflows/dashboard-ci.yml
  package.json
  src/App.tsx
  src/contexts/ThresholdContext.tsx
  src/hooks/__tests__/useFetchTvl.test.tsx
  src/hooks/useCheckEthBalanceForAccounts.ts
  src/hooks/useFetchOwnerStakes.ts
  src/hooks/useFetchPreConfigData.ts
  src/hooks/useFetchTvl.ts
  src/hooks/useTokensBalanceCall.ts
  src/threshold-ts/applications/__tests__/application.test.ts
  src/threshold-ts/applications/index.ts
  src/threshold-ts/index.ts
  src/threshold-ts/mas/__test__/mas.test.ts
  src/threshold-ts/mas/index.ts
  src/threshold-ts/multicall/__test__/multicall.test.ts
  src/threshold-ts/multicall/index.ts
  src/threshold-ts/staking/index.ts
  src/threshold-ts/types/index.ts
  src/threshold-ts/utils/address.ts
  src/threshold-ts/utils/contract.ts
  src/threshold-ts/utils/index.ts
  src/web3/hooks/useCheckDuplicateProviderAddress.ts
  src/web3/hooks/useMulticall.ts
  yarn.lock
Labels: :cloud: infrastructure, :scroll: contract integration

#167 Adds a MAS banner to the overview page
  src/components/AnnouncementBanner/index.tsx
  src/pages/Overview/AuthorizeApplicationsBanner.tsx
  src/pages/Overview/index.tsx
  src/static/images/AuthorizeAppsFingerPrint.png
Labels: :gem: components, Ready For Merge?

#163 Deauthorization Modal - Step 1
  src/components/Modal/DeauthorizeApplicationModal/InititateDeauthorization.tsx
  src/components/Modal/DeauthorizeApplicationModal/index.tsx
  src/components/StakingApplicationOperationIcon/index.tsx
  src/enums/modal.ts
  src/static/images/RandomBeaconDecrease.png
  src/static/images/RandomBeaconIncrease.png
  src/static/images/TbtcDecrease.png
  src/static/images/TbtcIncrease.png
  src/types/modal.ts
Labels: :gem: components, Ready For Merge?

#162 New apps authorize modal
  src/components/Modal/NewAppsToAuthorizeModal/index.tsx
  src/enums/modal.ts
  src/theme/Radio.ts
  src/theme/index.ts
  src/types/modal.ts
Labels: :gem: components, Ready For Merge?

#182 Add StakeCardContext
  src/components/Modal/NewAppsToAuthorizeModal/index.tsx
  src/contexts/StakeCardContext.tsx
  src/contexts/TokenContext.tsx
  src/hooks/useStakeCardContext.ts
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/Header/HeaderTitle.tsx
  src/pages/Staking/StakeCard/Header/index.tsx
  src/pages/Staking/StakeCard/StakeAddressInfo/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
  src/pages/Staking/StakeCard/StakeBalance/LegacyStakeBalances/index.tsx
  src/pages/Staking/StakeCard/StakeBalance/index.tsx
  src/pages/Staking/StakeCard/StakeRewards/index.tsx
  src/pages/Staking/StakeCard/index.tsx
  src/utils/getStakeTitle.ts
  src/utils/getStakeType.ts
Labels: :gem: components

#172 Updates the detailed link component
  src/components/DetailedLinkListItem/index.tsx
  src/components/LinkDetailsListItem/index.tsx
  src/pages/Staking/HowItWorks/ProvidersCard.tsx
  src/pages/tBTC/HowItWorks/AuditsCard.tsx
  src/pages/tBTC/HowItWorks/ContractsCard.tsx
  src/static/images/stakingProviders/AnkrLogo.png
  src/static/images/stakingProviders/BisonTrailsLogo.png
  src/static/images/stakingProviders/BlockDaemonLogo.png
  src/static/images/stakingProviders/BoarLogo.png
  src/static/images/stakingProviders/FigmentLogo.png
  src/static/images/stakingProviders/InfStonesLogo.png
  src/static/images/stakingProviders/LowFeeValidationLogo.png
  src/static/images/stakingProviders/P2PValidatorLogo.png
  src/static/images/stakingProviders/StakedLogo.png
  src/theme/DetailedLinkListItem.ts
  src/theme/index.ts
Labels: :gem: components, Needs Re-Review

#168 Extends input interfaces to allow JSX as helper/error messages
  src/components/Forms/FormikInput.tsx
  src/components/Forms/HelperErrorText.tsx
  src/components/TokenBalanceInput/index.tsx
Labels: :gem: components, Needs Re-Review

#178 MAS UI <-> data access layer integration
  src/App.tsx
  src/contexts/ThresholdContext.tsx
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useStakingAppContract.ts
  src/hooks/staking-applications/useStakingAppDataByStakingProvider.ts
  src/hooks/staking-applications/useStakingAppMinAuthorizationAmount.ts
  src/hooks/staking-applications/useStakingAppParameters.ts
  src/hooks/staking-applications/useStakingApplicationState.ts
  src/hooks/staking-applications/useSubscribeToAuthorizationIncreasedEvent.ts
  src/hooks/store/index.ts
  src/hooks/store/useAppDispatch.ts
  src/hooks/store/useAppSelector.ts
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/index.tsx
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/AuthorizeApplicationRow.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
  src/pages/Staking/index.tsx
  src/store/index.ts
  src/store/listener.ts
  src/store/staking-applications/effects.ts
  src/store/staking-applications/index.ts
  src/store/staking-applications/selectors.ts
  src/store/staking-applications/slice.ts
  src/threshold-ts/applications/__tests__/application.test.ts
  src/threshold-ts/applications/index.ts
  src/threshold-ts/index.ts
  src/threshold-ts/multicall/__test__/multicall.test.ts
  src/threshold-ts/multicall/index.ts
  src/threshold-ts/staking/__test__/staking.test.ts
  src/threshold-ts/staking/index.ts
  src/threshold-ts/types/index.ts
  src/threshold-ts/utils/contract.ts
  src/types/index.ts
  src/utils/getContract.ts
  src/utils/getThresholdLib.ts
  src/utils/percentage.ts
Labels: :scroll: contract integration

#188 Route changes for multi app staking
  src/components/Modal/NewAppsToAuthorizeModal/index.tsx
  src/components/SubNavigationPills/index.tsx
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/index.tsx
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/Header/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/AuthorizeApplicationRow.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
  src/pages/Staking/index.tsx
  src/pages/tBTC/Bridge/MintUnmintNav.tsx
  yarn.lock
Labels: :gem: components

#159 Replace GitHub action with reusable workflow
  .github/actions/build-and-deploy-to-bucket/action.yml
  .github/workflows/dashboard-ci.yml
  .github/workflows/reusable-build-and-publish.yml
Labels: :cloud: infrastructure

#161 Build previews using` dapp-development-goerli` packages
  .github/workflows/cypress.yml
  .github/workflows/dashboard-ci.yml
  .github/workflows/dashboard-mainnet.yml
Labels: :cloud: infrastructure

#189 MAS UI integration v2
  src/components/ExternalLink/index.tsx
  src/components/Modal/StakingApplications/AuthorizeStakingApps.tsx
  src/components/Modal/StakingApplications/StakingApplicationsAuthorized.tsx
  src/components/Modal/StakingApplications/index.ts
  src/components/StakingTimeline/index.tsx
  src/enums/externalHref.ts
  src/enums/modal.ts
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useAuthorizeMultipleAppsTransaction.ts
  src/hooks/staking-applications/useIncreaseAuthorizationTransacion.ts
  src/hooks/staking-applications/useStakingAppContract.ts
  src/hooks/staking-applications/useStakingApplicationAddress.ts
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/AppAuthorizationInfo.tsx
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/index.tsx
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/StakeAddressInfo/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/AuthorizeApplicationRow.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
  src/store/staking-applications/effects.ts
  src/store/staking-applications/slice.ts
  src/types/modal.ts
  src/utils/getStakingAppNameFromAddress.ts
  src/utils/percentage.ts
  src/web3/hooks/__tests__/useSendTransaction.test.ts
  src/web3/hooks/useSendTransaction.ts
Labels: :gem: components, :scroll: contract integration

#196 Increase staking application authorization flow
  src/components/Modal/StakingApplications/IncreaseAuthorization.tsx
  src/components/Modal/StakingApplications/IncreaseAuthorizationSuccess.tsx
  src/components/Modal/StakingApplications/index.ts
  src/enums/modal.ts
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useIncreaseAuthorizationTransaction.ts
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/index.tsx
  src/static/images/increase-auth.svg
  src/types/modal.ts
Labels: :gem: components, :scroll: contract integration

#200 Add alert to the auth page
  src/components/BundledRewardsAlert/index.tsx
  src/components/Modal/StakingApplications/AuthorizeStakingApps.tsx
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
Labels: :gem: components

#197 MAS deauthorization flow
  src/App.tsx
  src/components/Modal/DeauthorizeApplicationModal/InititateDeauthorization.tsx
  src/components/Modal/DeauthorizeApplicationModal/index.tsx
  src/components/Modal/NewStakerAuthorizeStakingApplicationModal/NewStakerAuthorizationCard.tsx
  src/components/Modal/StakingApplications/ConfirmDeauthorization.tsx
  src/components/Modal/StakingApplications/DeauthorizationCompleted.tsx
  src/components/Modal/StakingApplications/DeauthorizationInitiated.tsx
  src/components/Modal/StakingApplications/index.ts
  src/components/StakingApplicationOperationIcon/index.tsx
  src/enums/modal.ts
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useConfirmDeatuhorizationTransaction.ts
  src/hooks/staking-applications/useInitiateDeauthorization.ts
  src/hooks/staking-applications/useStakingAppParameters.ts
  src/hooks/staking-applications/useStakingApplicationDecreaseDelay.ts
  src/hooks/staking-applications/useSubscribeToAuthorizationDecreaseApprovedEvent.ts
  src/hooks/staking-applications/useSubscribeToAuthorizationDecreaseRequestedEvent.ts
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/AppAuthorizationInfo.tsx
  src/pages/Staking/AuthorizeStakingApps/AuthorizeApplicationsCardCheckbox/index.tsx
  src/pages/Staking/AuthorizeStakingApps/index.tsx
  src/pages/Staking/StakeCard/StakeApplications/index.tsx
  src/static/images/deauthorize-tbtc.svg
  src/store/staking-applications/effects.ts
  src/store/staking-applications/selectors.ts
  src/store/staking-applications/slice.ts
  src/threshold-ts/applications/__tests__/application.test.ts
  src/threshold-ts/applications/index.ts
  src/threshold-ts/multicall/__test__/multicall.test.ts
  src/threshold-ts/multicall/index.ts
  src/threshold-ts/staking/index.ts
  src/threshold-ts/utils/constants.ts
  src/threshold-ts/utils/index.ts
  src/types/modal.ts
  src/utils/date.ts
Labels: :gem: components, :scroll: contract integration

#203 Set MAS feature flag to true
  .env
  .env.production
Labels: :cloud: infrastructure

#204 Rebuild Staking Page and add Operator Mapping Component
  src/hooks/staking-applications/useOperatorMappedToStakingProviderHelpers.ts
  src/pages/PageLayout.tsx
  src/pages/Staking/NewStakeCard.tsx
  src/pages/Staking/OperatorAddressMappingCard.tsx
  src/pages/Staking/RewardsCard.tsx
  src/pages/Staking/StakedPortfolioCard.tsx
  src/pages/Staking/StakingTVLCard.tsx
  src/pages/Staking/index.tsx
  src/web3/utils/address.ts
Labels: :gem: components

#207 Map operator events subscribtion
  src/App.tsx
  src/components/Modal/MapOperatorToStakingProviderModal/index.tsx
  src/components/Modal/MapOperatorToStakingProviderSuccessModal/index.tsx
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useSubscribeToOperatorRegisteredEvent.ts
  src/hooks/useSubscribeToStakedEvent.ts
  src/store/connected-account/connectedAccountSlice.ts
  src/store/staking-applications/slice.ts
  src/store/staking/stakingSlice.ts
Labels: :scroll: contract integration

#218 Update the `IncreaseAuthorization` modal
  src/components/Modal/StakingApplications/IncreaseAuthorization.tsx
Labels: :gem: components

#199 Map operator to staking provider feature
  src/App.tsx
  src/components/Modal/MapOperatorToStakingProviderConfirmationModal/index.tsx
  src/components/Modal/MapOperatorToStakingProviderModal/MapOperatorToStakingProviderForm.tsx
  src/components/Modal/MapOperatorToStakingProviderModal/index.tsx
  src/components/Modal/MapOperatorToStakingProviderSuccessModal/index.tsx
  src/components/Modal/SelectWalletModal/index.tsx
  src/enums/modal.ts
  src/hooks/staking-applications/index.ts
  src/hooks/staking-applications/useAuthorizeMultipleAppsTransaction.ts
  src/hooks/staking-applications/useOperatorMappedToStakingProviderHelpers.ts
  src/hooks/staking-applications/useOperatorsMappedToStakingProvider.ts
  src/hooks/staking-applications/useRegisterMultipleOperatorsTransaction.ts
  src/hooks/staking-applications/useRegisterOperatorTransaction.ts
  src/hooks/staking-applications/useSubscribeToOperatorRegisteredEvent.ts
  src/hooks/useModal.ts
  src/hooks/useRolesOf.ts
  src/hooks/useSaveConnectedAddressToStore.ts
  src/hooks/useSubscribeToStakedEvent.ts
  src/pages/PageLayout.tsx
  src/pages/Staking/NewStakeCard.tsx
  src/pages/Staking/OperatorAddressMappingCard.tsx
  src/pages/Staking/RewardsCard.tsx
  src/pages/Staking/StakeCard/StakeAddressInfo/index.tsx
  src/pages/Staking/StakedPortfolioCard.tsx
  src/pages/Staking/StakingTVLCard.tsx
  src/pages/Staking/index.tsx
  src/store/connected-account/connectedAccountSlice.ts
  src/store/connected-account/effects.ts
  src/store/connected-account/index.ts
  src/store/index.ts
  src/store/modal/modalSlice.ts
  src/store/modalQueue/index.ts
  src/store/modalQueue/slice.ts
  src/store/staking-applications/effects.ts
  src/store/staking-applications/slice.ts
  src/store/staking/stakingSlice.ts
  src/threshold-ts/applications/index.ts
  src/threshold-ts/staking/index.ts
  src/types/index.ts
  src/types/modal.ts
  src/utils/text.ts
  src/web3/utils/address.ts
Labels: :gem: components, :scroll: contract integration
