Repository threshold-network/token-dashboard, pull requests merged in 2023-07, with the labels that each got.

#532 Redemption- select wallet
  src/components/Modal/tBTC/InitiateUnminting.tsx
  src/pages/tBTC/Bridge/Unmint.tsx
  src/threshold-ts/tbtc/index.ts
  src/types/index.ts
  src/types/tbtc.ts
  yarn.lock
Labels: :scroll: contract integration

#561 Fetch redemption details
  src/hooks/tbtc/useFetchRedemptionDetails.ts
  src/pages/tBTC/Bridge/DepositDetails.tsx
  src/pages/tBTC/Bridge/UnmintDetails.tsx
  src/pages/tBTC/Bridge/components/BridgeProcessDetailsPageSkeleton.tsx
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/utils/bitcoin.ts
  src/web3/hooks/index.ts
  src/web3/hooks/useGetBlock.ts
  yarn.lock
Labels: :gem: components, :scroll: contract integration

#566 Get redemption params from url to fetch details
  src/components/Modal/tBTC/InitiateUnminting.tsx
  src/hooks/tbtc/useFetchRedemptionDetails.ts
  src/pages/tBTC/Bridge/UnmintDetails.tsx
  src/tbtc/mock-bitcoin-client.ts
  src/threshold-ts/utils/bitcoin.ts
  src/threshold-ts/utils/chain.ts
  src/threshold-ts/utils/index.ts
  src/utils/forms.ts
  src/utils/tBTC.ts
  yarn.lock
Labels: :gem: components

#568 Convert script pub key to Bitcoin address
  src/hooks/tbtc/useFetchRedemptionDetails.ts
  src/threshold-ts/utils/bitcoin.ts
Labels: :gem: components

#572 Render empty state on the Unmint page
  src/pages/tBTC/Bridge/Mint.tsx
  src/pages/tBTC/Bridge/Unmint.tsx
  src/pages/tBTC/Bridge/components/BridgeProcessEmptyState.tsx
Labels: :gem: components

#571 Enable tBTC v2 redemption feature flag
  .env
  .env.production
Labels: :gem: components

#575 Update copy on the Unmint page
  src/pages/tBTC/Bridge/Unmint.tsx
  src/pages/tBTC/Bridge/UnmintDetails.tsx
Labels: :gem: components

#570 Display redemptions in my activity
  src/App.tsx
  src/components/tBTC/BridgeActivity.tsx
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useSubscribeToRedemptionRequestedEvent.ts
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/store/tbtc/tbtcSlice.ts
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/utils/bitcoin.ts
  src/threshold-ts/utils/chain.ts
  src/threshold-ts/utils/math.ts
  src/types/tbtc.ts
  src/utils/tBTC.ts
Labels: :gem: components, :scroll: contract integration

#569 Calculate Threshold Fee for redemption
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/tBTC/InitiateUnminting.tsx
  src/components/TokenBalance.tsx
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useFetchDepositDetails.ts
  src/hooks/tbtc/useFetchRedemptionDetails.ts
  src/hooks/tbtc/useRedemptionEstimatedFees.ts
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/pages/tBTC/Bridge/UnmintDetails.tsx
  src/threshold-ts/tbtc/__test__/tbtc.test.ts
  src/threshold-ts/tbtc/index.ts
Labels: :gem: components, :scroll: contract integration

#556 Fix issue with Link Overlay in tBTC Explorer
  src/pages/tBTC/Explorer/index.tsx
Labels: :gem: components

#583 Redemption improvements
  src/components/Modal/tBTC/InitiateUnminting.tsx
  src/components/TransactionDetails/index.tsx
  src/hooks/useAddErc20ToMetamask.ts
  src/pages/tBTC/Bridge/DepositDetails.tsx
  src/pages/tBTC/Bridge/Unmint.tsx
  src/pages/tBTC/Bridge/UnmintDetails.tsx
  src/pages/tBTC/Bridge/components/MintingTransactionDetails.tsx
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/utils/bitcoin.ts
Labels: :gem: components
