Repository threshold-network/token-dashboard, pull requests merged in 2023-01, with the labels that each got.

#340 Fix failing CI jobs
  package.json
  yarn.lock
Labels: :cloud: infrastructure

#329 tBTC v2 UI updates
  src/components/CopyToClipboard/index.tsx
  src/components/Forms/FormikInput.tsx
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/components/Sidebar/NavItem.tsx
  src/components/TokenBalance.tsx
  src/components/TokenBalanceCard/TokenBalanceCardTemplate.tsx
  src/components/TokenBalanceCard/index.tsx
  src/components/TokenBalanceInput/index.tsx
  src/hooks/useTBTCBridgeContractAddress.ts
  src/hooks/useTBTCTokenAddress.ts
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingTimeline.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/MintingCard/index.tsx
  src/pages/tBTC/Bridge/TbtcBalanceCard.tsx
  src/pages/tBTC/Bridge/TransactionHistory/index.tsx
  src/pages/tBTC/Bridge/UnmintingCard/UnmintingTimeline.tsx
  src/pages/tBTC/Bridge/UnmintingCard/index.tsx
  src/pages/tBTC/Bridge/components/TimelineItem.tsx
  src/pages/tBTC/Bridge/components/TransactionDetailsTable.tsx
  src/pages/tBTC/Bridge/index.tsx
  src/static/icons/tBTCFill.tsx
  src/static/icons/tBTCOutline.tsx
  src/static/images/minting-step-2.svg
  src/static/images/minting-step-3.svg
  src/static/images/tBTC-bridge-no-history-dark.svg
  src/static/images/tBTC-bridge-no-history-light.svg
  src/static/images/tbtcMintingStep1.png
  src/static/images/tbtcMintingStep1.svg
  src/static/images/unminting-empty-state-dark.svg
  src/static/images/unminting-empty-state.svg
  src/store/index.ts
  src/theme/Badge.ts
Labels: :gem: components

#343 Temporarily use `@keep-network/coverage-pools@1.1.0-dev.7` dependency
  .github/workflows/dashboard-ci.yml
  package.json
  yarn.lock
Labels: :cloud: infrastructure

#335 How it works tbtc v2 updates
  src/components/AnnouncementBanner/index.tsx
  src/components/DetailedLinkListItem/index.tsx
  src/enums/externalHref.ts
  src/pages/Staking/HowItWorks/StakingApplications/index.tsx
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingTimeline.tsx
  src/pages/tBTC/Bridge/components/TimelineItem.tsx
  src/pages/tBTC/Bridge/index.tsx
  src/pages/tBTC/HowItWorks/AuditsCard.tsx
  src/pages/tBTC/HowItWorks/Banner.tsx
  src/pages/tBTC/HowItWorks/BridgeCrossingCard.tsx
  src/pages/tBTC/HowItWorks/ContractsCard.tsx
  src/pages/tBTC/HowItWorks/DecentralizedSolution.tsx
  src/pages/tBTC/HowItWorks/DepositAddressCard.tsx
  src/pages/tBTC/HowItWorks/JSONFileCard.tsx
  src/pages/tBTC/HowItWorks/MintingTimelineCard.tsx
  src/pages/tBTC/HowItWorks/TbtcBridgeCard.tsx
  src/pages/tBTC/HowItWorks/index.tsx
  src/static/images/tBTCAppBanner.svg
  src/static/images/tbtcAppIllustrationDark.png
  src/static/images/tbtcAppIllustrationDark.svg
  src/static/images/tbtcAppIllustrationLight.png
  src/static/images/tbtcAppIllustrationLight.svg
  src/theme/AnnouncementBanner.ts
  src/theme/DetailedLinkListItem.ts
  src/utils/tbtc-v2.ts
Labels: :gem: components

#338 Add `NEW tBTC dApp` modal
  src/components/Modal/tBTC/NewTBTCApp.tsx
  src/components/Modal/tBTC/index.ts
  src/components/tBTC/TakeNoteList.tsx
  src/components/tBTC/index.ts
  src/enums/modal.ts
  src/hooks/useTBTCTerms.ts
  src/pages/tBTC/Bridge/index.tsx
  src/pages/tBTC/HowItWorks/Banner.tsx
  src/static/images/tBTCAppBannerWithGrid.svg
  src/types/modal.ts
Labels: :gem: components

#321 Unspent transactions check & deposit reveal
  src/App.tsx
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/components/Modal/TransactionModal/TransactionFailed.tsx
  src/components/withOnlyConnectedWallet.tsx
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useBridgeContract.ts
  src/hooks/tbtc/useRevealDepositTransaction.ts
  src/hooks/tbtc/useRevealMultipleDepositsTransaction.ts
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/hooks/tbtc/useTBTCDepositDataFromLocalStorage.ts
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/MintingCard/index.tsx
  src/pages/tBTC/Bridge/UnmintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/components/TbtcMintingCardTitle.tsx
  src/store/tbtc/tbtcSlice.ts
  src/tbtc/mock-bitcoin-client.ts
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/tbtc/tbtc.interface.ts
  src/threshold-ts/tbtc/tbtc.ts
  src/threshold-ts/types/index.ts
  src/threshold-ts/utils/address.ts
  src/threshold-ts/utils/bitcoin.ts
  src/threshold-ts/utils/contract.ts
  src/threshold-ts/utils/index.ts
  src/types/tbtc.ts
  src/utils/forms.ts
  src/utils/getThresholdLib.ts
  src/utils/helpers.ts
  src/utils/tbtc-v2.ts
  src/web3/hooks/useSendTransaction.ts
  src/web3/hooks/useTbtcMintTransaction.ts
  src/web3/utils/address.ts
  yarn.lock
Labels: :gem: components, :scroll: contract integration

#314 Create TBTC wrapper in threshold lib
  .env
  .env.production
  src/App.tsx
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/components/Modal/TransactionModal/TransactionFailed.tsx
  src/components/withOnlyConnectedWallet.tsx
  src/contexts/ThresholdContext.tsx
  src/enums/env.ts
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useBridgeContract.ts
  src/hooks/tbtc/useRevealDepositTransaction.ts
  src/hooks/tbtc/useRevealMultipleDepositsTransaction.ts
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/hooks/tbtc/useTBTCDepositDataFromLocalStorage.ts
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/MintingCard/index.tsx
  src/pages/tBTC/Bridge/UnmintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/components/TbtcMintingCardTitle.tsx
  src/store/tbtc/tbtcSlice.ts
  src/tbtc/mock-bitcoin-client.ts
  src/threshold-ts/index.ts
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/types/index.ts
  src/threshold-ts/utils/address.ts
  src/threshold-ts/utils/bitcoin.ts
  src/threshold-ts/utils/contract.ts
  src/threshold-ts/utils/index.ts
  src/types/tbtc.ts
  src/utils/forms.ts
  src/utils/getEnvVariable.ts
  src/utils/getThresholdLib.ts
  src/utils/helpers.ts
  src/utils/tbtc-v2.ts
  src/web3/hooks/useSendTransaction.ts
  src/web3/hooks/useTbtcMintTransaction.ts
  src/web3/utils/address.ts
  yarn.lock
Labels: :scroll: contract integration

#352 Upgrade the `@keep-network/tbtc-v2.ts` using `development` tag
  .github/workflows/reusable-build-and-publish.yml
Labels: :cloud: infrastructure

#337 Bridge tx history
  src/components/TokenBalance.tsx
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/pages/tBTC/Bridge/TransactionHistory/index.tsx
  src/pages/tBTC/Bridge/index.tsx
  src/store/tbtc/effects.ts
  src/store/tbtc/index.ts
  src/store/tbtc/selectors.ts
  src/store/tbtc/tbtcSlice.ts
  src/threshold-ts/index.ts
  src/threshold-ts/tbtc/index.ts
  src/types/tbtc.ts
Labels: :gem: components, :scroll: contract integration

#350 Calculate fees
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/hooks/useTbtcState.ts
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/components/TransactionDetailsTable.tsx
  src/store/tbtc/tbtcSlice.ts
  src/threshold-ts/index.ts
  src/threshold-ts/tbtc/index.ts
  src/types/tbtc.ts
Labels: :gem: components, :scroll: contract integration

#359 Update tbtc-v2.ts lib to 1.0.0-dev.29
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/tbtc/mock-bitcoin-client.ts
  src/threshold-ts/tbtc/index.ts
  src/threshold-ts/utils/address.ts
  yarn.lock
Labels: :gem: components

#358 tBTCv2 improvements
  src/App.tsx
  src/components/TokenBalance.tsx
  src/components/TokenBalanceCard/TokenBalanceCardTemplate.tsx
  src/components/TokenBalanceCard/index.tsx
  src/contexts/TokenContext.tsx
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useBridgeContract.ts
  src/hooks/tbtc/useSubscribeToOptimisticMintingFinalizedEvent.ts
  src/hooks/tbtc/useSubsribeToDepositRevealedEvent.ts
  src/hooks/tbtc/useTBTCVaultContract.ts
  src/hooks/useTBTCBridgeContractAddress.ts
  src/hooks/useTBTCTokenAddress.ts
  src/pages/tBTC/Bridge/TransactionHistory/index.tsx
  src/pages/tBTC/Bridge/components/TransactionDetailsTable.tsx
  src/pages/tBTC/HowItWorks/ContractsCard.tsx
  src/store/index.ts
  src/store/tbtc/tbtcSlice.ts
  src/store/tokens/tokenSlice.ts
  src/threshold-ts/tbtc/index.ts
  src/utils/formatAmount.ts
  src/web3/hooks/useTBTCv2TokenContract.ts
  src/web3/hooks/useTbtcBridgeContract.ts
Labels: :gem: components

#361 Sentry-based deposit telemetry
  .env
  .env.production
  .github/workflows/dashboard-ci.yml
  .github/workflows/dashboard-mainnet.yml
  .github/workflows/reusable-build-and-publish.yml
  package.json
  src/App.tsx
  src/constants/featureFlags.ts
  src/enums/env.ts
  src/hooks/sentry/index.ts
  src/hooks/sentry/useCaptureMessage.ts
  src/hooks/sentry/useSentry.ts
  src/hooks/tbtc/useDepositTelemetry.ts
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/sentry/index.ts
  yarn.lock
Labels: :gem: components

#374 Unify Bridge Contract links
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/components/Modal/tBTC/GenerateNewDepositAddress.tsx
  src/components/tBTC/BridgeContractLink.tsx
  src/components/tBTC/index.ts
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/HowItWorks/ContractsCard.tsx
Labels: :gem: components

#380 Add btc recovery address to the JSON file
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
Labels: :gem: components

#378 tBTCv2- token amount format improvements
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/TokenBalance.tsx
  src/components/TokenBalanceCard/TokenBalanceCardTemplate.tsx
  src/components/TokenBalanceCard/index.tsx
  src/hooks/useTbtcState.ts
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/pages/tBTC/Bridge/TbtcBalanceCard.tsx
  src/pages/tBTC/Bridge/TransactionHistory/index.tsx
  src/pages/tBTC/Bridge/components/TransactionDetailsTable.tsx
  src/store/tbtc/tbtcSlice.ts
  src/threshold-ts/tbtc/index.ts
  src/types/tbtc.ts
  src/utils/__tests__/formatTokenAmount.test.ts
  src/utils/formatAmount.ts
Labels: :gem: components

#384 Update copy on tBTCv2 how it works page
  src/pages/tBTC/HowItWorks/TbtcBridgeCard.tsx
Labels: :gem: components

#385 Add missing space char in minting timeline
  src/pages/tBTC/Bridge/MintingCard/MintingTimeline.tsx
Labels: :gem: components

#377 Improve deposit flow
  src/components/Modal/TbtcMintingConfirmationModal/index.tsx
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/components/Modal/tBTC/GenerateNewDepositAddress.tsx
  src/hooks/tbtc/index.ts
  src/hooks/tbtc/useRemoveDepositData.ts
  src/hooks/tbtc/useRevealMultipleDepositsTransaction.ts
  src/pages/tBTC/Bridge/MintingCard/InitiateMinting.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/MintingCard/index.tsx
Labels: :gem: components

#404 Make ETH address field readonly
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
Labels: :gem: components

#409 Fix deposit flow
  src/hooks/tbtc/useTBTCDepositDataFromLocalStorage.ts
  src/hooks/useTbtcState.ts
  src/pages/tBTC/Bridge/MintingCard/MintingFlowRouter.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/store/tbtc/effects.ts
  src/store/tbtc/tbtcSlice.ts
  src/tbtc/mock-bitcoin-client.ts
  src/types/tbtc.ts
  src/utils/tbtcLocalStorageData.ts
Labels: :gem: components

#406 Add info about minimum deposit value
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingTimeline.tsx
Labels: :gem: components

#410 Prefer tBTC over TBTC in all user-facing copy
  src/pages/tBTC/Bridge/components/TbtcMintingCardTitle.tsx
  src/pages/tBTC/index.tsx
Labels: :gem: components

#383 Cosmetic improvements of the minting flow
  public/index.html
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/Bridge/UnmintingCard/ProvideData.tsx
Labels: :gem: components

#411 Update copy on the tBTC page
  src/components/Modal/TbtcRecoveryFileModal/index.tsx
  src/enums/externalHref.ts
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingTimeline.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
  src/pages/tBTC/HowItWorks/JSONFileCard.tsx
  src/pages/tBTC/HowItWorks/MintingTimelineCard.tsx
Labels: :gem: components

#418 Use thesis/gcp-storage-bucket-action from feature branch
  .github/workflows/dashboard-mainnet.yml
Labels: :cloud: infrastructure

#414 Workaround for account change
  src/App.tsx
Labels: :gem: components

#424 Update link to the recovery guide and copy
  src/components/tBTC/TakeNoteList.tsx
  src/enums/externalHref.ts
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/pages/tBTC/Bridge/MintingCard/ProvideData.tsx
Labels: :gem: components
