Repository threshold-network/token-dashboard, pull requests merged in 2023-02, with the labels that each got.

#449 Display full BTC deposit address in deposit flow
  package.json
  src/App.tsx
  src/components/CopyToClipboard/index.tsx
  src/components/ViewInBlockExplorer.tsx
  src/pages/Staking/StakeDetailsPage/StakeDetailRow.tsx
  src/pages/tBTC/Bridge/MintingCard/MakeDeposit.tsx
  src/pages/tBTC/Bridge/MintingCard/index.tsx
  src/theme/index.ts
  yarn.lock
Labels: :gem: components

#453 Bumb tbtc-v2.ts lib version to 1.1.0-dev.10
  src/threshold-ts/types/index.ts
  src/utils/getThresholdLib.ts
  yarn.lock
Labels: :cloud: infrastructure

#454 [Backport] Track transaction confirmations
  src/hooks/useTbtcState.ts
  src/pages/tBTC/Bridge/MintingCard/MintingSuccess.tsx
  src/store/tbtc/effects.ts
  src/store/tbtc/tbtcSlice.ts
  src/tbtc/mock-bitcoin-client.ts
  src/threshold-ts/tbtc/index.ts
  src/types/tbtc.ts
Labels: :gem: components, :scroll: contract integration

#348 UseSendTransaction hook refactor
  src/components/Modal/ClaimingRewards/index.tsx
  src/components/Modal/ConfirmStakingParams/index.tsx
  src/components/Modal/MapOperatorToStakingProviderConfirmationModal/index.tsx
  src/components/Modal/MapOperatorToStakingProviderModal/index.tsx
  src/components/Modal/StakingApplications/IncreaseAuthorization.tsx
  src/components/Modal/SubmitStake/index.tsx
  src/components/Modal/TopupTModal/TopUpTModal.tsx
  src/components/Modal/UnstakeTModal/Step2.tsx
  src/hooks/staking-applications/useAuthorizeMultipleAppsTransaction.ts
  src/hooks/staking-applications/useConfirmDeatuhorizationTransaction.ts
  src/hooks/staking-applications/useIncreaseAuthorizationTransaction.ts
  src/hooks/staking-applications/useInitiateDeauthorization.ts
  src/hooks/staking-applications/useRegisterMultipleOperatorsTransaction.ts
  src/hooks/staking-applications/useRegisterOperatorTransaction.ts
  src/hooks/tbtc/useRevealDepositTransaction.ts
  src/web3/hooks/useClaimMerkleRewardsTransaction.ts
  src/web3/hooks/useSendTransaction.ts
  src/web3/hooks/useStakeTransaction.ts
  src/web3/hooks/useTopupTransaction.ts
  src/web3/hooks/useUnstakeTransaction.ts
Labels: :gem: components
